[user]
	email = yambotomusole@gmail.com
	name = Musole Yamboto
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	autocrlf = input
	editor = vim
